body{
    background-color: #1f2833;
}
.tb{
    width: 60%;
    height: 400px;
    border-radius: 20px;
    border-color: black;
    border-spacing: 5px;
    padding: 15px 15px;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    
}
.tb tbody tr th{
    font-family: monospace;
    font-size: large;
    color: aqua;
    background-color: black;
    border-radius: 5px;
} 
.tb tbody tr td{
    font-family: monospace;
    font-size: large;
    color: aqua;
    background-color: black;
    border-radius: 5px;

}

